@import 'preset';

header {
  width: 100%;
  div {
    height: 80px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $large-2;

    img {
      width: auto;
      height: 80px;
    }

    button {
      width: 200px;
      height: 64px;
      border-radius: 40px;
      background-color: $secondary;
      border: none;
      color: white;
      font-size: 20px;
    }
  }

  nav {
    height: 64px;
    background-color: #333;
    display: flex;
    justify-content: center;

    ul {
      width: 50%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      list-style: none;

      a {
        color: #fafafa;
        text-decoration: none;
      }
    }
  }
}

main {
  .line {
    width: 100%;
    height: $medium-2;
    background-color: #333;
    margin: 0;
    padding: 0;
  }

  .welcome {

    img {
      width: 100%;
      height: 650px;
      margin: 0;
      padding: 0;
    }
  }

  .goals {
    display: flex;
    justify-content: space-between;
    height: 700px;

    article {
      width: 40%;
      padding: $large-2 $large-3;
      letter-spacing: 1px;
      color: $primary;

      h1 {
        font-size: 60px;
        font-weight: 800;
        margin: 0;
        margin-bottom: $large-2;

        span {
          color: $tertiary;
          -webkit-text-stroke-width: 1px;
          -webkit-text-stroke-color: #333;
        }
      }

      p {
        font-size: $medium-1;
        line-height: 26px;
        text-align: justify;
      }
    }

    img {
      width: 60%;
      object-fit: cover;
    }
  }
}